<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_199482_rzncb1bv6rn.css">
<aside>
	<div class="border-dotted radius b30">
		<img src="{{site.urlimg}}21/1kpBz4.jpg" alt="uh, Placekitten">
		<h3>
			Colin Chang
			<i class="iconfont icon-China"></i>
		</h3>
		<p>webmaster, developer, designer, tourist</p>
		<div>
				<i class="iconfont icon-dizhi"></i>
				BeiJing , China
		</div>
		<div>
				<i class="iconfont icon-link"></i>
				<a href="https://colinchang.net">Colin's Blog</a>
		</div>
		<div>
				<i class="iconfont icon-github"></i>
				<a href="http://github.com/colin-chang">Github</a>
		</div>
		<div>
				<i class="iconfont icon-gmail"></i>
				<a href="mailto:zhangcheng5468@gmail.com">Google</a>
		</div>
		<div>
				<i class="iconfont icon-telegram"></i>
				<a href="https://t.me/Colin_Chang">Telegram</a>
		</div>
		<div>
				<i class="iconfont icon-Facebook"></i>
				<a href="https://www.facebook.com/colinchang.zc">Facebook</a>
		</div>
		<div>
				<i class="iconfont icon-twitter"></i>
				<a href="https://twitter.com/zhangcheng5468">Twitter</a>
		</div>
		<div>
				<i class="iconfont icon-instagram"></i>
				<a href="https://www.instagram.com/colin__chang/">Instagram</a>
		</div>
		<div>
				<i class="iconfont icon-youtube"></i>
				<a href="https://www.youtube.com/channel/UCMhN4CHJMuSOYe9CMXIoV7Q">Youtube</a>
		</div>
		
	</div>

	<div class="panel radius">
		<h3>Battle Call</h3>
		<ul style="list-style: none">
				<li>When life is a hard game</li>
				<li>Don’t you blame</li>
				<li>It’s your chance to</li>
				<li>Arise your aim</li>
				<li>Let your spirit be brave</li>
				<li>Always fight to hold your name</li>
				<li>No matter how bad or rough</li>
				<li>You never surrender</li>
				<li>All the warriors in this world</li>
				<li>Join the passion of this master of soul</li>
				<li>From the Chinese hills and shore</li>
				<li>We still listen to Bruce Lee battle call</li>
		</ul>
	</div>
</aside>